<div class="wrapper">
  <form
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)">
  <ul>
    <li>
      <label for="name">Item Name</label>
      <input type="text" name="name" id="name" formControlName="name">
    </li>
    <li>
      <label for="price">Item Price</label>
      <input type="text" name="price" id="price" formControlName="price">
    </li>
    <li>
      <label for="rating">Item Rating</label>
      <input type="text" name="rating" id="rating" formControlName="rating">
    </li>
    <li>
      <label for="desc">Item Description</label>
      <input type="text" name="desc" id="desc" formControlName="desc">
    </li>
  </ul>
  <button type="submit" [disabled]="!form.valid">Save</button>
</form>
</div>